stages:
  - test
  - pages
  - build

test:
  stage: test
  image: 
    name: node:15.12-alpine3.13
  rules:
    - if: $CI_COMMIT_REF_NAME == 'develop'
  script:
    - npm install --force
    - npm run build

pages:
  stage: pages
  image: 
    name: node:15.12-alpine3.13
  rules:
    - if: $CI_COMMIT_REF_NAME == 'develop'
  script:
    - npm install --force
    - npm run build
    - mv ./build ./public
  artifacts:
    paths:
    - public

docker:
  stage: build
  image: docker:24.0.5
  services:
    - name: docker:24.0.5-dind
      alias: dindon
  rules:
    - if: $CI_COMMIT_REF_NAME == 'main'
  variables:
    DOCKER_HOST: tcp://dind:2375
  before_script:
    - docker info
    # - mkdir $PWD/.docker
    # - echo "{\"auths\":{\"${CI_GITHUB_HOST}\":{\"auth\":\"$(printf "%s:%s" "${CI_GITHUB_USER}" "${CI_GITHUB_TOKEN}" | base64 | tr -d '\n')\"}}}" > $PWD/.docker/config.json
    # - cat $PWD/.docker/config.json
    # - docker login ${CI_GITHUB_HOST}
  script:
    - docker build -t toto:1.1 .
    # - docker push toto:1.1
