stages:
  - test
  - pages
  - build

test:
  stage: test
  image: 
    name: node:15.12-alpine3.13
  script:
    - npm install --force
    - npm run build

pages:
  stage: pages
  image: 
    name: node:15.12-alpine3.13
  script:
    - npm install --force
    - npm run build
    - mv ./build ./public
  artifacts:
    paths:
    - public

docker:
  stage: build
  image: 
    name: docker:latest
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - ls -lrtha ~/
    - mkdir ~/.docker
    - echo "{\"auths\":{\"${CI_GITHUB_HOST}\":{\"auth\":\"$(printf "%s:%s" "${CI_GITHUB_USER}" "${CI_GITHUB_TOKEN}" | base64 | tr -d '\n')\"}}}" > ~/.docker/config.json
    - docker login ${CI_GITHUB_HOST}
  script:
    - docker build 
    - docker push
